## 1. 변수  
변수할당은 `=`로 할당한다.

In [2]:
var1 = 100
print(var1)

100

변수는 단지 이름일 뿐이며 그 자체가 어떠한 값을 가지지 않는다. var1은 100을 **참조** 한다

In [4]:
var2 = var1 
var3 = var1 
var4 = var1
print(var2,var3,var4)
print(id(var1),id(var2),id(var3),id(var4))

100 100 100
4341104240 4341104240 4341104240 4341104240

In [7]:
var1 = 101
print(id(var1))
print(var1)

4341104272
101

In [8]:
print(id(var2),id(var3),id(var4))

4341104240 4341104240 4341104240

var1이 변경되었어도 나머지는 이전 id를 가지고 있다.

### 변수의 type

In [9]:
type(var1)

int

In [10]:
type('hello world')

str

### 변수의 입/출력

In [1]:
var = input('say cheese : ')

say cheese : hello

## 2. 숫자

In [2]:
a = 100
result = a - 3
a = result 
print(a)

97

In [4]:
a = 100 
a = a-3
print(a)

97

In [6]:
a = 100 
a -= 3
print(a)

97

### 진수

In [7]:
10

10

In [8]:
0b10
# b for binary

2

In [9]:
0o10
# o for octonary

8

In [10]:
0x10
# x for hexadecimal 0xFF

16

### 형 변환

In [11]:
int("35")

35

In [12]:
1234

1234

In [13]:
-100

-100

In [15]:
c = 60

In [16]:
c/8

7.5

In [19]:
c//8

7

In [20]:
c%8

4

In [21]:
float(8)

8.0

In [22]:
int(9.8)

9

## 2. 문자열

In [23]:
"hello world"
'hello world'

'hello world'

In [24]:
"""
this can swtich lines
"""

'\nthis can swtich lines\n'

### 문자열 더하기

In [27]:
notice = ''
notice += 'notice'
notice += '(patch note)'
notice += ': 7.1 patch note'
print(notice)

notice(patch note): 7.1 patch note

### 형 변환

In [28]:
str(123)

'123'

### 인덱스 연산

In [35]:
lux = 'hit with the light'

In [36]:
lux[0]

'h'

In [37]:
lux[-1]

't'

In [38]:
lux[50]

IndexError: string index out of range

문자열은 불면함으로 인덱싱한 부분에 새 값을 대입할 수 없다.

In [39]:
lux[0] = a

TypeError: 'str' object does not support item assignment

### 슬라이스 연산

`[start:end:step]`형식 사용

### 길이 
내장함수 `len` 사용

### 문자열 나누기(split)

In [41]:
family = "beomwook youngmee seongwon"
family.split()
#함수에 인자를 주지 않을 경우 공백을 기준으로 구분

['beomwook', 'youngmee', 'seongwon']

In [44]:
family = "beomwook,youngmee,seongwon"
family.split(',')
#인자를 줄 경우 인자를 찾아서 구분

['beomwook', 'youngmee', 'seongwon']

### 문자열 결합

In [45]:
family_list = family.split(',')

In [49]:
family_str = ','.join(family_list)
#list 를 합쳐서 str으로 반환

In [50]:
family_str

'beomwook,youngmee,seongwon'

### 대소문자 다루기

In [51]:
lux = 'lux, the Lady of Luminosity'
lux.capitalize()

'Lux, the lady of luminosity'

In [52]:
lux.title()

'Lux, The Lady Of Luminosity'

In [53]:
lux.upper()

'LUX, THE LADY OF LUMINOSITY'

In [54]:
lux.lower()

'lux, the lady of luminosity'

In [55]:
lux.swapcase()

'LUX, THE lADY OF lUMINOSITY'

### 문자열 포맷

{}.format(변수)

## 3. 시퀀스 타입

### 리스트

순차적 데이터 표현, 내부항목 변경 가능

In [57]:
empty_list1 = []
empty_list2 = list()
sample_list1 = ['a','b','c','d']
sample_list2 = ['jan','feb','mar','apr','jun']

다른데이터를 리스트로 변환

In [58]:
list('League of legends')

['L',
 'e',
 'a',
 'g',
 'u',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'l',
 'e',
 'g',
 'e',
 'n',
 'd',
 's']

#### list 항목 추가 (append)

In [59]:
sample_list1.append('3')
sample_list1

['a', 'b', 'c', 'd', '3']

#### 리스트 병합 (extend)

In [61]:
fruits = ['apple','banana','melon']
colors = ['red', 'green', 'blue']
fruits.extend(colors)
fruits

['apple', 'banana', 'melon', 'red', 'green', 'blue']

In [63]:
fruits = ['apple','banana','melon']
colors = ['red', 'green', 'blue']
fruits += colors
fruits

['apple', 'banana', 'melon', 'red', 'green', 'blue']

#### 중간에 끼어넣기(insert)

In [67]:
fruits.insert(1,'hello')
fruits

['mango', 'hello', 'banana', 'melon', 'red', 'green', 'blue']

#### 특정 위치에 리스트 항목 제거

In [69]:
del fruits[0]

In [70]:
fruits

['hello', 'banana', 'melon', 'red', 'green', 'blue']

#### 값으로 리스트 항목 삭제 (remove)

In [72]:
fruits.remove('banana')

In [73]:
fruits

['hello', 'melon', 'red', 'green', 'blue']

#### 리스트 항목 추출 후 삭제 (pop)

In [75]:
fruits.pop(-3)

'red'

#### 값으로 리스트 항목 오프셋 찾기(index)

In [79]:
fruits.index('blue')

3

#### 존재여부 확인(in)

In [85]:
'green' in fruits

True

#### 값 세기(count)

In [83]:
fruits.append('red')
fruits.append('red')
fruits.append('red')
fruits.append('red')
fruits.count('red')

8

### 튜플

In [87]:
empty_tuple = ()

In [88]:
colors = 'red',
fruits = 'apple', 'banana'

#### 튜플 언패킹

In [90]:
f1, f2 = fruits

In [94]:
f1

'apple'

`tuple()`로 형 변환 가능

### 딕셔너리

In [95]:
empty_dict1 = {}
empty_dict2 = dict()
champion_dict = {
    'Lux': 'the Lady of Luminosity',
    'Ahri': 'the Nine-Tailed Fox',
    'Ezreal': 'the Prodigal Explorer',
    'Teemo': 'the Swift Scout',
}

#### 형변환

In [97]:
sample = [[1,2],[3,4],[5,6]]
dict(sample)

{1: 2, 3: 4, 5: 6}

#### 항목찾기/추가/변경

In [98]:
champion_dict['Lux']

'the Lady of Luminosity'

In [99]:
champion_dict['Sona'] = 'Maven of the Strings'

In [100]:
champion_dict['Lux'] = 'Demacia'

#### 항목이 없을 경우 기본값을 지정하고 찾기

In [102]:
champion_dict.get('Soroka') # 없을 경우 None
champion_dict.get('Soroka', 'Healer') # 없을 경우 'Healer 문자열 지정'

'Healer'

#### 결합 (update)

In [105]:
item_dict = {
    'Doran\'s Ring' : 400,
    'Doran\'s Blade' : 450,
    'Doran\'s Shield' : 450,
}

In [108]:
com_dict = {}
com_dict.update(champion_dict)
com_dict.update(item_dict)

In [109]:
com_dict

{'Lux': 'Demacia',
 'Ahri': 'the Nine-Tailed Fox',
 'Ezreal': 'the Prodigal Explorer',
 'Teemo': 'the Swift Scout',
 'Sona': 'Maven of the Strings',
 "Doran's Ring": 400,
 "Doran's Blade": 450,
 "Doran's Shield": 450}

#### 삭제 (del)

In [110]:
del com_dict['Doran\'s Blade']

In [111]:
com_dict

{'Lux': 'Demacia',
 'Ahri': 'the Nine-Tailed Fox',
 'Ezreal': 'the Prodigal Explorer',
 'Teemo': 'the Swift Scout',
 'Sona': 'Maven of the Strings',
 "Doran's Ring": 400,
 "Doran's Shield": 450}

#### 전체삭제 (clear)

`items()`로 key, value 얻기(튜플로 반환)

### 셋(Set)
셋은 키만 있는 딕셔너리와 같으며, 중복된 값이 존재할 수 없다.

In [112]:
empty_set = set()
champions = {
    'lux', 'ahri', 'ezreal'
}

#### 형변환

In [113]:
set('ezreal')

{'a', 'e', 'l', 'r', 'z'}

In [116]:
set(champion_dict) # 딕셔너리에서 key 만 가져옴

{'Ahri', 'Ezreal', 'Lux', 'Sona', 'Teemo'}

## 4. 제어문

#### 여러 시퀀스 동시순회(zip)

In [117]:
fruits = ['apple','banana', 'melon']
colors = 'red, yellow, green, purple'.split(',')

In [119]:
for fruit, color in zip(fruits, colors):
    print('fruit: ', fruit, 'color :', color)

fruit:  apple color : red
fruit:  banana color :  yellow
fruit:  melon color :  green

가장 짧은 시퀀스가 완료되면 순회가 종료

In [120]:
list(zip(fruits, colors))

[('apple', 'red'), ('banana', ' yellow'), ('melon', ' green')]